/* add home page styles here */
img {
    display: flex;
}

.button {
    margin: 20px;
}

h2 {
    margin: 25px;
    font-weight: 800;
    font-size: xx-large;
}

em {
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
}